/* Major Breakpoints */

/* Tablet and Desktop */
@media screen and (min-width: 360px) {
	/* Header */
	.header {
		justify-content: space-around;
	}

	.header .logo {
		max-width: 25%;
	}

	/* Separator */
	.separator {
		border: 4px solid #7d97ad;
	}

	/* Featured Work */
	.work .projects-container .link {
		margin: 20px;
	}
}

/* Tablet only */
@media screen and (min-width: 361px) and (max-width: 959px) {
	/* General */
	body {
		margin: 10px;
	}

	/* Header */
	.header .name {
		font-size: 48px;
	}

	.header .profession {
		font-size: 24px;
	}

	/* Featured Work */
	.work .project {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.work .project-info {
		width: 50%;
	}

	.work .project.odd .project-info {
		order: -1;
	}

	.work a {
		padding: 24px 0;
		word-wrap: break-word;
	}

	/* Footer */
	footer {
		text-align: center;
		font-size: 14px;
	}

	footer .img-src {
		font: bold 16px 'Numans', sans-serif;
	}
}

/* Desktop or greater */
@media screen and (min-width: 960px) {
	/* General */
	body {
		max-width: 960px;
		margin: 10px auto;
	}

	/* Header */
	.header .name {
		font-size: 52px;
	}

	.header .profession {
		font-size: 28px;
	}

	/* Featured Work */
	.work .section-title {
		font-size: 40px;
	}

	.work .projects-container {
		display: flex;
	}

	.work .projects-container .title {
		font-size: 32px;
	}

	.work .project {
		max-width: 33.3%;
	}

	.work .projects-container .link {
		margin: 20px;
	}

	.work a {
		padding: 24px 5px;
	}

	/* Footer */
	footer {
		text-align: center;
		font-size: 14px;
	}

	footer .img-src {
		font: bold 16px 'Numans', sans-serif;
	}
}

/* Minor Breakpoints */
@media screen and (min-width: 361px) and (max-width: 550px) {
	/* Featured Work */
	.work .projects-container .title {
		font-size: 20px;
	}

	.work .section-title {
		font-size: 32px;
	}
}

@media screen and (min-width: 551px) and (max-width: 768px) {
	/* Featured Work */
	.work .projects-container .title {
		font-size: 32px;
	}

	.work .section-title {
		font-size: 36px;
	}
}

@media screen and (min-width: 769px) {
	/* Featured Work */
	.work .projects-container .title {
		font-size: 36px;
	}

	.work .section-title {
		font-size: 40px;
	}
}