/* While dev */
* {
	border: 1px solid red;
}

img, embed, object, video {
	max-width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	text-align: right;
	align-items: center;
}

.work {
	text-align: center;
}